body{
    text-align:center;
    font-family:Arial;
    margin-top:50px;
}

#modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.modal-content{
    background:white;
    width:300px;
    margin:100px auto;
    padding:20px;
    border-radius:10px;
}